<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>


<!-- user profile page layout here -->


<!-- link to edit profile -->
<%= link_to 'Edit Profile', edit_user_registration_path, class:'btn btn-primary' %>
