<div class="home-content">

  <h1 class="display-3 text-center home-title">Welcome to Boardgame Social</h1>
  <p class="lead text-center home-text">
    A place for friends to share games and set up game nights.  Sign up and load in your collection today and start playing tonight.
  </p>
</div>
  <% if current_user %>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-5">
        <%= link_to user_path(current_user) do %>
          <div class="btn btn-primary center-block">
            <span class="glyphicon glyphicon-king" aria-hidden="true"> </span>
            Go to Profile
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <%= link_to 'Sign Up', new_user_registration_path , class:'btn btn-success center-block', method: 'get' %>
      <%= link_to 'Log In', new_user_session_path , class:'btn btn-primary center-block', method: 'get' %>
    </div>
  </div>

  <% end %>
